use ====>  <%= render 'answer_options'%> to render the following

<%= form_for(@the_random_challenge) do |f| %>
  <div class="field">
	    <%= check_box_tag "@the_random_challenge.a", @the_random_challenge.a %>
	    <%= @the_random_challenge.a %><br/>
  </div>
  <div class="field">
	    <%= check_box_tag "@the_random_challenge.b", @the_random_challenge.b %>
	    <%= @the_random_challenge.b %><br/>
  </div>
  <div class="field">
	    <%= check_box_tag "@the_random_challenge.c", @the_random_challenge.c %>
	    <%= @the_random_challenge.c %><br/>
  </div>
  <div class="field">
	    <%= check_box_tag "@the_random_challenge.d", @the_random_challenge.d %>
	    <%= @the_random_challenge.d %><br/>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
