<h4>Choose the Correct Answer: <!-- for <%= @the_random_challenge.name %> --></h4>
<%= form_tag(submit_answer_path, :method => :put) do %>
  <%= hidden_field_tag "challenge_id[]", @the_random_challenge.id %>
  <div class="field">
    <%= check_box_tag "answer[]", @the_random_challenge.a %>
    <%= label_tag @the_random_challenge.a, "a. " %>
    <%= @the_random_challenge.a %><br/>
  </div>
  <div class="field">
	  <%= check_box_tag "answer[]", @the_random_challenge.b %>
    <%= label_tag @the_random_challenge.b, "b. " %>
	  <%= @the_random_challenge.b %><br/>
  </div>
  <div class="field">
	  <%= check_box_tag "answer[]", @the_random_challenge.c %>
	  <%= label_tag @the_random_challenge.c, "c. " %>
	  <%= @the_random_challenge.c %><br/>
  </div>
  <div class="field">
	  <%= check_box_tag "answer[]", @the_random_challenge.d %>
	  <%= label_tag @the_random_challenge.d, "d. " %>
	  <%= @the_random_challenge.d %><br/>
  </div>

  <div class="field", id="joke_details">
    <%= label_tag 'Enter your explanation (optional)' %>
	  <%= text_area_tag "reason[]" %>
  </div>

  <div class="center actions">
    <%= submit_tag "Submit Answer" %>
  </div>
<% end %>
