<% provide(:title, 'Front') %>
<h1>Foofalo</h1>
<div class="clearfix">
  <div class="joke_legend_title round">
    <h2 class="round">Joke of the Day</h2>
    <div  class="legend clearfix">
      <h3><%= random_joke.name %></h3>
      <p><%= random_joke.content %></p>
	  </div>
  </div>

  <div class="challenge_legend_title round">
    <h2 class="round">Challenge of the week</h2>
    <div  class="legend clearfix">
      <h3><%= random_challenge.name %></h3>
      <p><%= random_challenge.content %></p>


	  </div>
  </div>

  <div class="fact_legend_title round">
    <h2 class="round">Fun Facts</h2>
    <div  class="legend clearfix">
	    <h3><%= random_fun_fact.name %></h3>
      <p><%= random_fun_fact.content %></p>
      <p>An oak tree produces about 2,200 acorns in a season, but each acorn only has a 1 in 10,000 chance of becoming an oak tree.</p>
    </div>
  </div>

  <div>
	  <h2>My Links</h2>
	</div>
</div>