<% provide(:title, 'Home') %>

<div class="content_container clearfix">
  <p><%= image_tag("new_joke_1.png", alt: "jokeofday image", :class => "joke_image_home") %></p>

  <p><%= image_tag("new_challenge_1.png", alt: "challengeofweek image", :class => "challenge_image_home") %></p>

  <p><%= image_tag("new_mansters_1.png", alt: "manster cards image", :class => "manster_image_home") %></p>		

	<div id="logo_image">
	  <%= image_tag("logo60.png", alt: "foofalo logo") %>
	</div>

	<div id="home_main", class="round">
	  <p>
	    Foofalo is a website for Arthur and his friends to share jokes, learn fun facts, work on challenge question, view Masnter Cards, play games and more. Want to have fun and be challenged? Please sign up now or sign in. 
	  </p>
			
	  <%= link_to "Sign Up", new_user_path, class: "signup_button round" %>
	
	
	  <p class="center padding_bottom_20">Click<%= link_to "Here", guest_path, :class => "margin_left_5" %> to sign in as a guest</p>
	
	</div>

  <p><%= image_tag("new_fact_1.png", alt: "funfact image", :class => "funfact_image_home") %></p>

  <p><%= image_tag("new_links_1.png", alt: "my links image", :class => "links_image_home") %></p>
	
  <p><%= image_tag("new_games_1.png", alt: "games image", :class => "game_image_home") %></p>
</div>

