<% provide(:title, 'Index') %>
<h1>Foofalo</h1>
<div class="clearfix">
  <div class="joke_legend_title round">
    <h2 class="round">Joke of the Day</h2>
    <div  class="legend clearfix">
      <h3><%= random_joke.name %></h3>
      <p><%= random_joke.content %></p>
	  </div>
  </div>

  <div class="challenge_legend_title round">
    <h2 class="round">Challenge of the week</h2>
    <div  class="legend clearfix">
      <h3><%= random_challenge.name %></h3>
      <p><%= random_challenge.content %></p>

      <h3>Choose the Correct Answer</h3>
      <%= render 'user_answer'%>

	  </div>
  </div>

  <div class="fact_legend_title round">
    <h2 class="round">Fun Facts</h2>
    <div  class="legend clearfix">
	    <h3><%= random_fun_fact.name %></h3>
      <p><%= random_fun_fact.content %></p>
    </div>
  </div>

  <div>
	  <h2>My Links</h2>
	  <ul>
	  <% display_links.each do |link| %>
	    <li><%= link_to link.name, "#{url_with_protocol(link.url)}", :target => :blank %></li>
	  <% end %>
	  </ul>
	</div>
</div>