<% provide(:title, 'Index') %>

<div class="content_container clearfix">
	<div class="joke_Challenge clearfix">
	  <div class="joke_of_day round_all">
		  <div class="joke_title_area clearfix">
				<%= image_tag("joke.png", alt: "joke image", :height=>"90px") %>
	      <h2>Joke of the Day</h2>
	    </div>
	    <div  class="joke_content_home">
	      <h3><%= @the_random_joke.name %></h3>
	      <div class="content_index joke_content font_0 clearfix"><%= simple_format(@the_random_joke.content) %></div>
		  </div>
	  </div>
	
	  <div class="challenge_of_week round_all">
		  <div class="challenge_title_area">
			  <h2>Challenge of the Week</h2>
			  <%= image_tag("challenge.jpg", alt: "challenge image", :height=>"80px") %>
	    </div>
	    <div class="challenge_content clearfix">
	      <h3><%= @the_random_challenge.name %></h3>
	      <div class="content_index joke_content font_0"><%= simple_format(@the_random_challenge.content) %></div>
	      <div class="margin_left_10">
		      <% if @current_user_answer.length < 1 %>
		        <%= render 'select_answer' %> 
		      <% else %>
		        <%= render 'show_answer' %>
		      <% end %>
		    </div>
		  </div>
		</div>	
  </div>

  <div class="fact_links clearfix">
	  <div class="fun_fact round_all">
		  <div class="fact_title_area clearfix">
			  <h2>Fun Facts</h2>
				<%= image_tag("funfact.jpg", alt: "fun fact image", :height=>"70px") %>
	    </div>
	    <div  class="fact_content clearfix">
		    <h3><%= @the_random_fun_fact.name %></h3>
	      <div class="content_index joke_content font_0 clearfix"><%= simple_format(@the_random_fun_fact.content) %></div>
	    </div>
	  </div>
	
    <div class="my_links round_all">
	    <h2>My Links</h2>
	    <ol>
				<% for i in 0...my_links.length %>
				  <li>
          <%= i+1 %>. <%= link_to my_links[i].name, "#{url_with_protocol(my_links[i].url)}", :target => :blank %></li>
				<% end %>
	    </ol>
	  </div>  	
	</div>
</div>