<% provide :title, "Guest" %>
<h2 class="page_title_full">Guest Sign in</h2>

<div class="content_container clairfix">
<%= form_tag sessions_path do %>
  <div class="field" id="signin_username">
    <%= label_tag :username %><br />
    <%= text_field_tag :username, params[:username], :value => "guest", :autofocus=>true, :class => "field_size" %>
  </div>

  <div class="field">
    <%= label_tag :password %><br />
    <%= password_field_tag :password, :value => "guest765" %>
  </div>

  <div class="sign_buttons">
	  <%= submit_tag "Sign in", :class=>"buttons" %>
	  <a href="javascript:history.back()">Cancel</a>
  </div>
<% end %>

	<!-- <p class="center padding_bottom_20">New to foofalo? <%= link_to "Sign up now!", signup_path, :class => "margin_left_5" %></p> -->
</div>