<% provide :title, "Sign in" %>
<h1 class="center">Sign in</h1>

<div class="content_container">
	<%= form_tag sessions_path do %>
	  <div class="field">
	    <%= label_tag :username %><br />
	    <%= text_field_tag :username, params[:username], :autofocus=>true, :class => "field_size" %>
	  </div>
	
	  <div class="field">
	    <%= label_tag :password %><br />
	    <%= password_field_tag :password %>
	  </div>
	
	  <p class="reminders">Forgot your username? Click <%= link_to "here", usernamereminder_path %></p>
	  <p class="reminders">Forgot your password? Click <%= link_to "here", new_password_reset_path %></p>
	
	  <div class="field rememberme">
	    <%= check_box_tag :remember_me, 1, params[:remember_me] %>
    	<%= label_tag :remember_me %>
	  </div>
	
	  <%= submit_tag "Sign in", :class=>"button_sign" %>
	<% end %>

	<p>New user? <%= link_to "Sign up now!", signup_path %></p>
</div>