<% provide :title, "FunFacts" %>

<div class="content_container clearfix">
	<h2 class="title title_font">Fun Facts <span class="font_color_grey small">(<%= @fun_facts.count %>)</span></h2>
	<ul class="page_main page_main_list clearfit">
	  <% @fun_facts.each do |fun_fact| %>
		  <li>
			  <% if current_user.privilege == "admin" %>
			    <%= link_to fun_fact.name, fun_fact, :class=>"bold" %>
				  <span>Created by</span> <%= fun_fact.author %>
			    <span>on</span> <span class="right_margin_20">
			    <%= fun_fact.created_at.strftime("%m/%d/%Y") %></span>
			    <%= link_to "Edit", edit_fun_fact_path(fun_fact) %>
			    <%= link_to "delete", fun_fact, :method => :delete, :confirm => "Deleting fun_fact #{fun_fact.name}?" %>
			    <%= simple_format fun_fact.content %></p>
			  <% else %>
			    <%= link_to fun_fact.name, fun_fact %> 
			    <span><%= fun_fact.created_at.strftime("%m/%d/%Y") %></span>
          <%= simple_format fun_fact.content %>
			  <% end %>
			</li>
	  <% end %>
	</ul>

	<div class="page_links clearfix">
		<%= render '/fun_facts/linkstofunfacts' %>
	</div>
</div>
