<% provide :title, "Create Fun Fact" %>

<div class="clearfix">
	<h3 class="title">Enter New Fun Fact</h3>
  <%= form_for(@fun_fact) do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
    <div class="field">
     <%= f.label :name, "Fun Fact Name:" %>
     <%= f.text_field :name, :class=>"input", :autofocus=>true %>
   </div>
   <div class="field", id="joke_details">
     <%= f.label :content, "Fun Fact details:" %>
     <%= f.text_area :content, :class=>"input textarea" %>
   </div>
   <div class="actions">
     <%= f.submit "Submit", :class=>"button" %>
     <p class="button cancel_button">
        <a href="javascript:history.back()">Cancel</a></p>
   </div>
  <% end %>	  
</div>

<div class="joke_links" class="clearfix align_center">
	<%= render 'linkstofunfacts' %>
<div>
