<% provide :title, "EditUser" %> 

<h2 class="title_font center padding_top_10">Update My Profile</h2>

<div class="content_container padding_top_10 clearfix">
	<% if current_user.username != "guest" %>
		<%= form_for(@user) do |f| %>
		  <%= render 'shared/error_messages', :object => f.object %>

			<div class="field field_center">
			  <%= f.label :username %> <span class="font_grey">(can not change username)</span><br />
			  <%= f.text_field :username, :class => "field_size font_grey", :disabled => true %>
			</div>
			<div class="field field_center">
			  <%= f.label :password %> <span class="font_grey">(minimum 6 characters)</span><br />
			  <%= f.password_field :password, :class => "field_size", :autofocus=>true %>
			</div>
			<div class="field field_center">
			  <%= f.label :password_confirmation, "Retype Password" %><br />
			  <%= f.password_field :password_confirmation, :class => "field_size" %>
			</div>
			<div class="field field_center">
			  <%= f.label :firstname, "First Name" %><br />
			  <%= f.text_field :firstname, :class => "field_size" %>
			</div>
			<div class="field field_center">
			  <%= f.label :lastname, "Last Name" %><br />
			  <%= f.text_field :lastname, :class => "field_size" %>
			</div>
			<div class="field field_center">
			  <%= f.label :email, "Parents' Email" %><br />
			  <%= f.text_field :email, :class => "field_size" %>
			</div>
			<div class="field field_center">
			  <%= f.label :email_confirmation, "Retype Parents' Email" %><br />
			  <%= f.text_field :email_confirmation, :class => "field_size" %>
			</div>

		  <div class="actions center">
		    <%= f.submit "Update", :class=>"buttons" %>
		    <a href="javascript:history.back()">Cancel</a>
		  </div>
		<% end %>
	<% else %>
	  <%= form_for(@user) do |f| %>
		  <%= render 'shared/error_messages', :object => f.object %>

			<div class="field field_center">
			  <%= f.label :username %><br />
			  <%= f.text_field :username, :class => "field_size font_grey", :disabled => true %>
			</div>

		<% end %>
	<% end %>
</div>