<% provide :title, "Edit user" %> 
<h1>Edit user</h1>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages' %>

	<div class="field">
	  <%= f.label :username %><br />
	  <%= f.text_field :username, :disabled => true %>
	</div>
	<div class="field">
	  <%= f.label :password, "Password (minimum 6 characters)" %><br />
	  <%= f.password_field :password %>
	</div>
	<div class="field">
	  <%= f.label :password_confirmation, "Retype Password" %><br />
	  <%= f.password_field :password_confirmation %>
	</div>
	<div class="field">
	  <%= f.label :firstname, "First Name" %><br />
	  <%= f.text_field :firstname %>
	</div>
	<div class="field">
	  <%= f.label :lastname, "Last Name" %><br />
	  <%= f.text_field :lastname %>
	</div>
	<div class="field">
	  <%= f.label :email, "Parents' Email" %><br />
	  <%= f.text_field :email %>
	</div>
	<div class="field">
	  <%= f.label :email_confirmation, "Retype Parents' Email" %><br />
	  <%= f.text_field :email_confirmation %>
	</div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>