<% provide :title, 'Users' %>
<h2 class="center title_font">All Users</h2>

<div class="content_container">
	<%= will_paginate %>
		<div class="margin_top_10 margin_left_20 clearfix">
			<span class="font_2 width_150 float_left">
			      <%= link_to current_user.username, current_user %></span>
			<span class="font_color_grey margin_left_10 width_150 float_left">
			      Joke entered: 300</span>
			<span class="font_color_grey margin_left_10 width_250 float_left">
			      Challenges answered correctly: 10</span>
    </div>

	  <% @users.each do |user| %>
			<% if current_user.privilege == "super user" || current_user.privilege == "admin"%>
			  <div class="margin_left_20 clearfix">
				  <% if current_user.id != user.id %>
				    <span class="bold font_2 width_150 float_left">
				          <%= link_to user.username, user %></span>
						<span class="font_color_grey margin_left_10 width_150 float_left">
									Joke entered: 300</span>
						<span class="font_color_grey margin_left_10 width_250 float_left">
									Challenges answered correctly: 10</span>
				    <span class="float_left"><%= link_to "Update Privilege", user, :class => "" %> 
				    <span class="margin_right_10 margin_left_10">|</span>
				          <%= link_to "Delete User", user, :method => :delete, 
				          :confirm => "Deleting user #{full_name(user.firstname, user.lastname)}?" %></span>
          <% end %>
        </div><br />
			<% else %>
			  <div  class="margin_auto clearfix">
				  <% if current_user.id != user.id %>
				    <span class="font_2 width_150 float_left"><%= user.username %></span>
					  <span class="font_color_grey margin_left_10 width_150 float_left">
							    Joke entered: 300</span>
						<span class="font_color_grey margin_left_10 width_250 float_left">
							    Challenges answered correctly: 10</span>
					<% end %>
			  </div>
			<% end %>
	  <% end %>

	<%= will_paginate %>
</div>