<% provide :title, 'Users' %>
<h2 class="center title_font center padding_top_10">All Users</h2>

<% if admin_or_superuser? %>
<div class="content_container">
	<% if admin? %>
	<div class="margin_auto width_800 clearfix">
	<% else %>
	<div class="margin_auto width_50_em clearfix">
	<% end %>
    <span class="bold font_2 width_200 float_left">
      <%= link_to current_user.username, user_path(current_user) %>
    </span>
		<span class="font_grey margin_left_10 width_150 float_left">
			Joke entered: 
			<span class="margin_left_5"><%= jokes_entered_by_user(current_user.username) %></span>
		</span>
		<span class="font_grey margin_left_10 width_220 float_left">
			Challenges answered correctly: 
			<span class="margin_left_5"><%= correct_answers_by_user(current_user.username) %></span>
		</span>
	</div><br />	
		
	<% non_current_users.each do |user| %>
		<% if admin? %>
		<div class="margin_auto width_800 clearfix">
		<% else %>
		<div class="margin_auto width_50_em clearfix">
		<% end %>
      <span class="bold font_2 width_200 float_left">
	      <%= link_to user.username, user_path(user) %>
      </span>
		  <span class="font_grey margin_left_10 width_150 float_left">
		  	Joke entered: 
			  <span class="margin_left_5"><%= jokes_entered_by_user(user.username) %></span>
		  </span>
		  <span class="font_grey margin_left_10 width_220 float_left">
		  	Challenges answered correctly: 
		  	<span class="margin_left_5"><%= correct_answers_by_user(user.username) %></span>
		  </span>
			<% if admin? %>
	    <span class="margin_left_30 float_right"><%= link_to "Update Privilege", user %> 
	      <span class="margin_left_40">
	        <%= link_to "Delete", user, :method => :delete, 
	          :confirm => "Deleting user #{full_name(user.firstname, user.lastname)}?" %>
	      </span>
	    </span>
	    <% end %>
		</div><br />	
	<% end %>
</div>
<% end %>