<ul class="clearfix">
  <li class="clearfix"><%= image_tag("arrow_right.png", :alt => "arrow image", :height=>"20px") %>
      <%= link_to 'Create New Links', newlink_path %></li>
	<li class="clearfix"><%= image_tag("arrow_right.png", :alt => "arrow image", :height=>"20px") %>
		  <%= link_to 'View Links', links_path %></li>
	<li class="clearfix"><%= image_tag("arrow_right.png", :alt => "arrow image", :height=>"20px") %>
			<%= link_to 'Edit, Delete Links', managelinks_path %></li>
</ul>
