<% provide :title, "CreateLink" %>

<div class="content_container clearfix">
	<h2 class="title title_font">Enter New Link</h2>
	<div class="page_main challenge_list clearfit">
	  <%= form_for(@link) do |f| %>
	    <%= render 'shared/error_messages', :object => f.object %>
	
	    <div class="field">
	      <%= f.label :name, "Link Name:" %>
	      <p><%= f.text_field :name, :class=>"field_size", :autofocus=>true %></p>
	    </div>
	
	    <div class="field">
		    <%= f.label :category, "Category:" %>
	      <p><%= select(:link, :category, Link::CATEGORIES, {:prompt => true} ) %></p> 
	    </div>
	
	    <div class="field">
	      <%= f.label :url, "URL:" %>
	      <p><%= f.text_field :url, :class => "field_size" %></p>
	    </div>
	
	    <div class="actions">
	      <%= f.submit "Submit", :class=>"buttons" %>
	      <a href="javascript:history.back()">Cancel</a>
	    </div>
	  <% end %>	  
  </div>

	<div class="page_links clearfix">
		<%= render '/links/linkstomylinks' %>
	</div>
</div>

