<% provide :title, "EditChallenge" %>

<div class="content_container clearfix">
	<h2 class="title title_font">Edit Challenge</h2>
	<div class="page_main page_main_list clearfit">
	  <%= form_for(@challenge, :action=> :update_challenge) do |f| %>
	    <%= render 'shared/error_messages', :object => f.object %>
	
	    <div class="field">
	      <%= f.label :name, "Challenge Name:" %>
	      <p><%= f.text_field :name, :class => "field_size", :autofocus=>true %></p>
	    </div>
	
	    <div class="field">
	      <%= f.label :content, "Challenge Details:" %>
	      <p><%= f.text_area :content %></p>
	    </div>

	    <div class="field">
	      <%= f.label :a, "Choice a:" %><br />
	      <p><%= f.text_field :a, :class => "field_size" %></p>
	    </div>
	
	    <div class="field">
	      <%= f.label :b, "Choice b:" %><br />
	      <p><%= f.text_field :b, :class => "field_size" %></p>
	    </div>
	
	    <div class="field">
	      <%= f.label :c, "Choice c:" %><br />
	      <p><%= f.text_field :c, :class => "field_size" %></p>
	    </div>
	
	    <div class="field">
	      <%= f.label :d, "Choice d:" %><br />
	      <p><%= f.text_field :d, :class => "field_size" %></p>
	    </div>
	
	    <div class="field">
	      <%= f.label :correct_col_name, "Correct Answer:" %><br />
	      <p><%= select(:challenge, :correct_col_name, Challenge::ANSWER_COLUMNS, {:prompt => true} ) %></p>
	    </div>
	
	    <div class="field">
	      <%= f.label :explanation, "Explanation:" %>
	      <p><%= f.text_area :explanation, :placeholder => "Optional" %></p>
	    </div>
	
	    <div class="actions">
	      <%= f.submit "Update", :class=>"buttons" %>
	      <a href="javascript:history.back()">Cancel</a>
	    </div>
	  <% end %>
	</div>

	<div class="page_links clearfix">
		<%= render '/challenges/linkstochallenges' %>
	</div>	
</div>