<% provide :title, "All Challenges" %>

<div class="clearfix">
	<h3 class="title">All Challenges (<%= @challenges.count %> )</h3>
	<p><span>Challenge Name</span> <span>Date Created</span></p>

	<ul class="users">
	  <% @challenges.each do |challenge| %>
		  <li>
			  <% if current_user.privilege == 0 %>
			    <p><%= link_to challenge.name, challenge %> 
			       <%= challenge.created_at.strftime("%m/%d/%Y") %></p>
          <p><%= simple_format challenge.content %></p>

			    <p><%= link_to "Edit", edit_challenge_path(challenge) %>
			       <%= link_to "delete", challenge, :method => :delete, 
			             :confirm => "Deleting challenge #{challenge.name}?" %></p>
			  <% else %>
			    <p><%= link_to challenge.name, challenge %> 
			       <%= challenge.created_at.strftime("%m/%d/%Y") %></p>
          <p><%= simple_format challenge.content %></p>
			  <% end %>
			</li>
	  <% end %>
	</ul>

</div>

<div class="challenge_links" class="clearfix align_center">
	<%= render '/challenges/linkstochallenges' %>
<div>