<% provide :title, "Create Challenge" %>

<div class="clearfix">
	<h3 class="title">Enter New Challenge</h3>
  <%= form_for(@challenge) do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
    <div class="field">
     <%= f.label :name, "Challenge Name:" %>
     <%= f.text_field :name, :class=>"input", :autofocus=>true %>
   </div>
   <div class="field", id="joke_details">
     <%= f.label :content, "Challenge details:" %>
     <%= f.text_area :content, :class=>"input textarea" %>
   </div>

   <h3 class="title">Enter the Answer Options</h3>
   <div class="field", id="joke_details">
     <%= f.label :a, "Choice a:" %>
     <%= f.text_field :a, :class=>"input textarea" %>
   </div>
   <div class="field", id="joke_details">
     <%= f.label :b, "Choice b:" %>
     <%= f.text_field :b, :class=>"input textarea" %>
   </div>
   <div class="field", id="joke_details">
     <%= f.label :c, "Choice c:" %>
     <%= f.text_field :c, :class=>"input textarea" %>
   </div>
   <div class="field", id="joke_details">
     <%= f.label :d, "Choice d:" %>
     <%= f.text_field :d, :class=>"input textarea" %>
   </div>
   <div class="field", id="joke_details">
     <%= f.label :correct_col_name, "Correct Answer:" %>
     <%= select(:challenge, :correct_col_name, Challenge::ANSWER_COLUMNS, {:prompt => true} ) %>
   </div>
   <div class="field", id="joke_details">
     <%= f.label :explanation, "Explanation" %>
     <%= f.text_area :explanation, :placeholder => "Optional", :class=>"input textarea" %>
   </div>
   <div class="actions">
     <%= f.submit "Submit", :class=>"button" %>
     <p class="button cancel_button">
        <a href="javascript:history.back()">Cancel</a></p>
   </div>
  <% end %>	  
</div>

<div class="joke_links" class="clearfix align_center">
	<%= render 'linkstochallenges' %>
<div>
