<% provide :title, "ViewChallenge" %>

<div class="content_container clearfix">
	<h2 class="page_title"><%= @challenge.name %></h2> 
	<div class="page_main margin_top_5 page_main_list clearfit">
		<div class="margin_left_30">
			<p class="small_font_2 center font_grey">
			<% if admin_or_superuser? %>
	      By <%= @challenge.author %>
	    <% end %>
	      <%= @challenge.created_at.strftime("%m/%d/%Y") %>
		  </p>
      <%= simple_format @challenge.content %>

	    <div class="center">
		  <% if current_user.username == @challenge.author %>
				<%= link_to "Edit", edit_challenge_path(@challenge), :class=>"margin_right_20" %>
				<%= link_to "Delete", @challenge, :method => :delete, 
				             :confirm => "Deleting challenge #{@challenge.name}?" %>
		  <% end %>
			</div>
		</div>
	</div>

	<div class="page_links clearfix">
		<%= render '/challenges/linkstochallenges' %>
	</div>	
</div>