<p class="view_jokes clearfix">
  <%= image_tag("arrow_right.png", :alt => "arrow image", :height=>"20px") %>
  <%= link_to 'View, Edit My Jokes', myjokes_path %>
</p>
<p class="create_new_joke clearfix">
  <%= image_tag("arrow_right.png", :alt => "arrow image", :height=>"20px") %>
  <%= link_to 'Enter New Jokes', newjoke_path %>
</p>
<p class="view_jokes clearfix">
  <%= image_tag("arrow_right.png", :alt => "arrow image", :height=>"20px") %>
  <%= link_to 'Jokes by Authors', jokesbyauthors_path %>
</p>
<p class="view_jokes clearfix">
  <%= image_tag("arrow_right.png", :alt => "arrow image", :height=>"20px") %>
  <%= link_to 'All Jokes', jokes_path %>
</p>