<% provide :title, "Jokes" %>
<div class="clearfix">
	<% if current_user.privilege == "admin" %>
		<%= form_tag review_path, :method => :put do %>
		  <H3>Unreviewed Jokes (<%= @unreviewed_jokes.count %> )</h3>
			<ul class="users">
		    <% @unreviewed_jokes.each do |joke| %>
		      <li>
			      <%= check_box_tag "joke_ids[]", joke.id %>
	          <%= link_to joke.name, joke %> 
	          <%= link_to joke.author, jokesauthor_path(:joke=>joke.id) %> 
	          <%= link_to joke.created_at.strftime("%m/%d/%Y"), jokesdate_path(:joke=>joke.id) %><br />
	          <%= simple_format joke.content %>
		      </li>
		    <% end %>		
		  </ul>
		  <%= submit_tag "Approve" %>
		<% end %>
	
	  <H3>Unapproved Jokes (<%= @unapproved_jokes.count %> )</h3>
		<ul class="users">
	    <% @unapproved_jokes.each do |joke| %>
	      <li><%= link_to joke.name, joke %> 
	          <%= link_to joke.author, jokesauthor_path(:joke=>joke.id) %> 
	          <%= link_to joke.created_at.strftime("%m/%d/%Y"), jokesdate_path(:joke=>joke.id) %><br />
	          <%= simple_format joke.content %>
	      </li>
	    <% end %>	
	  </ul>	
  <% end %>

	<h3 class="title">All Approved Jokes (<%= @jokes.count %> )</h3>
	<p><span>Joke Name</span> <span>Entered by</span> <span>Date Created</span></p>	
  <%= will_paginate %>
    <ul class="users">
      <% @jokes.each do |joke| %>
        <li>
          <p><%= link_to joke.name, joke %> 
            <%= link_to joke.author, jokesauthor_path(:joke=>joke.id) %> 
            <%= link_to joke.created_at.strftime("%m/%d/%Y"), jokesdate_path(:joke=>joke.id) %><br />
            <%= simple_format joke.content %></p>
        </li>
      <% end %>		
    </ul>
  <%= will_paginate %>
</div>

<div class="joke_links" class="clearfix align_center">
	<%= render 'linkstojokes' %>
<div>