<% provide :title, "View Jokes" %>

<div class="clearfix">
	<h3 class="title">All Jokes</h3>
  <table>
    <tr>
	    <td class="joke_name bold">Joke Name</td>
      <td class="joke_author bold">Entered by</td>
      <td class="publish_date bold">Publish Date</td>
    </tr>
	
    <% @jokes.each do |joke| %>
      <tr>
        <td class="joke_name small_font_2"><%= link_to joke.name, joke %></td>
        <td  class="joke_author small_font_2"><%= link_to joke.author, jokesbyauthor_path(:joke=>joke.id) %></td>
	      <td class="publish_date small_font_2"><%= link_to joke.created_at.strftime("%m/%d/%Y"), jokesbydate_path(:joke=>joke.id) %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="joke_links" class="clearfix align_center">
  <p class="view_my_jokes clearfix">
    <%= image_tag("arrow_right.png", :alt => "arrow image", :height=>"20px") %>
    <%= link_to 'View, Edit My Jokes', myjokes_path %>
  </p>
  <p class="create_new_joke clearfix">
    <%= image_tag("arrow_right.png", :alt => "arrow image", :height=>"20px") %>
    <%= link_to 'Enter New Jokes', newjoke_path %>
  </p>
<div>