<% provide :title, "JokesByAuthors" %>

<div class="clearfix">
	<p><span>Joke Name</span> <span>Date Created</span></p>

	  <ul class="users">
      <% @authors.each do |author| %>
	      <li class="title">Jokes entered by <%= author %> 
		                     (<%= Joke.where(:author => author, :status => "approved").count %> )</li>
        <ul>
	        <% Joke.where(:author => author, :status => "approved").order(:name).each do |joke| %>
	          <li><%= link_to joke.name, joke %> 
	              <%= link_to joke.created_at.strftime("%m/%d/%Y"), 
	                      jokesdate_path(:joke=>joke.id) %></li>
	          <p><%= simple_format joke.content %></p>
          <% end %>
        </ul>
      <% end %>		
    </ul>

</div>

<div class="joke_links" class="clearfix align_center">
	<%= render 'linkstojokes' %>
<div>