<% provide :title, "JokesByAuthors" %>

<div class="content_container clearfix">
	<h2 class="page_title">Jokes by Authors<br />
	  <span class="font_grey_small">Jokes that have already been displayed</span></h2>
	<div class="page_main page_main_list clearfit">
  <% @authors.each do |jokes_author| %>
    <h3 class="margin_left_20 margin_top_20">By <%= jokes_author.username %> 
      <span class="font_color_grey small">(<%= joke_author_count(jokes_author) %>)</span>
    </h3>

    <% jokes_by_author_status(jokes_author, "displayed").each do |joke| %>
		<ul>
		  <li class="list_no_style">
		    <div class="clearfix margin_bottom_0">
		      <span class="joke_name font_2 float_left">
		        <%= link_to joke.name, joke %>
			    </span>
		      <span class="float_right">
		        <%= link_to joke.created_at.strftime("%m/%d/%Y"), jokesdate_path(:joke=>joke.id) %>
		      </span>
		    </div>
		    <div class="joke_content clearfix round_all"><%= simple_format(joke.content) %></div>
		  </li>
		</ul>
    <% end %>
  <% end %>		
  </div>

  <div class="page_links clearfix">
	  <%= render '/jokes/linkstojokes' %>
	</div>
</div>
