<% provide :title, "JokesByDate" %>

<div class="content_container clearfix">
	<h2 class="title title_font">Jokes entered on <%= @current_joke.created_at.strftime("%m/%d/%Y") %>
		 <span class="font_color_grey small">(<%= @jokes.count %>)</span></h2>
	<div class="page_main page_main_list clearfit">
		
		<%= will_paginate %>
			<ul>
			  <% @jokes.each do |joke| %>
			    <li>
		        <p><%= link_to joke.name, joke, :class => "joke_name font_2" %> 
		           <span>By</span> <%= link_to joke.author, jokesauthor_path(:joke=>joke.id) %></p>
		        <p><%= simple_format joke.content %></p>
			    </li>
			  <% end %>		
			</ul>
		<%= will_paginate %>
  </div>

	<div class="page_links clearfix">
	  <%= render '/jokes/linkstojokes' %>
	</div>
</div>