<% provide :title, "Jokes by Date" %>

<div class="clearfix">
	<h3 class="title">Jokes entered on <%= @current_joke.created_at.strftime("%m/%d/%Y") %> (<%= @jokes.count %> )</h3>
	<p><span>Joke Name</span> <span>Entered by</span></p>
	<%= will_paginate %>
	<ul class="users">
	  <% @jokes.each do |joke| %>
	    <li>
        <p><%= link_to joke.name, joke %> <%= link_to joke.author, jokesbyauthor_path(:joke=>joke.id)  %></p>
        <p><%= joke.content %></p>
	    </li>
	  <% end %>		
	</ul>
	<%= will_paginate %>
</div>

<div class="joke_links" class="clearfix align_center">
  <p class="view_my_jokes clearfix">
    <%= image_tag("arrow_right.png", :alt => "arrow image", :height=>"20px") %>
    <%= link_to 'View All Jokes', jokes_path %>
  </p>
  <p class="view_my_jokes clearfix">
    <%= image_tag("arrow_right.png", :alt => "arrow image", :height=>"20px") %>
    <%= link_to 'View, Edit My Jokes', myjokes_path %>
  </p>
  <p class="create_new_joke clearfix">
    <%= image_tag("arrow_right.png", :alt => "arrow image", :height=>"20px") %>
    <%= link_to 'Enter New Jokes', newjoke_path %>
  </p>
</div>