<% provide :title, "JokesByAuthors" %>

<div class="content_container clearfix">
	<h2 class="title title_font">Jokes by Author</h2>
	<div class="page_main page_main_list clearfit">
	  <ul class="list_no_style">
      <% @authors.each do |author| %>
	      <li><h2>Jokes entered by <%= author %> 
		            <span class="font_color_grey small">
			          (<%= Joke.where(:author => author, :status => "approved").count %> )</span></h2></li>
        <ul>
	        <% Joke.where(:author => author, :status => "approved").order(:name).each do |joke| %>
	          <li><div class="width_400"><%= link_to joke.name, joke, :class=>"bold font_2" %></div> 
	              <div class="joke_author"><span>Created on</span> <%= link_to joke.created_at.strftime("%m/%d/%Y"), 
	                      jokesdate_path(:joke=>joke.id) %></div></li>
	          <p><%= simple_format joke.content %></p>
          <% end %>
        </ul>
      <% end %>		
    </ul>
  </div>

	<div class="page_links clearfix">
	<%= render '/jokes/linkstojokes' %>
	</div>
</div>
