<% provide :title, "MyJokes" %>


<div class="content_container clearfix">
	<h1 class="title">My Jokes (<%= @jokes.count %>)</h1> 
	<div class="page_main page_main_list clearfit">
		<h2>My Approved Jokes (<%= @jokes_approved.count %>)</h2>
	  <%= will_paginate %>
		  <ul>
	      <% @jokes_approved.each do |joke| %>
	        <li>
	          <p><div class="joke_name bold font_2"><%= link_to joke.name, joke %></div>
	             <span>Created on <%= link_to joke.created_at.strftime("%m/%d/%Y"), jokesdate_path(:joke=>joke.id) %>
	             <%= link_to "Edit", edit_joke_path(joke) %></span></p>
	          <!-- <p><%= simple_format joke.content %></p> -->
	        </li>
	      <% end %>		
	    </ul>
	  <%= will_paginate %>

		<h2>My Jokes Being Reviewed (<%= @jokes_review.count %>)</h2>
	  <%= will_paginate %>
		  <ul>
	      <% @jokes_review.each do |joke| %>
	        <li>
	          <p><div class="joke_name bold font_2"><%= link_to joke.name, joke %></div> 
	             <span>Created on <%= link_to joke.created_at.strftime("%m/%d/%Y"), jokesdate_path(:joke=>joke.id) %>
	             <%= link_to "Edit", edit_joke_path(joke) %></span></p>
	          <!-- <p><%= simple_format joke.content %></p> -->
	        </li>
	      <% end %>		
	    </ul>
	  <%= will_paginate %>

		<h2>My Unpproved Jokes (<%= @jokes_unapproved.count %>)</h2>
	  <%= will_paginate %>
		  <ul>
	      <% @jokes_unapproved.each do |joke| %>
	        <li>
	          <p><div class="joke_name bold font_2"><%= link_to joke.name, joke %></div>
	             <span>Created on <%= link_to joke.created_at.strftime("%m/%d/%Y"), jokesdate_path(:joke=>joke.id) %>
	             <%= link_to "Edit", edit_joke_path(joke) %></span></p>
	          <!-- <p><%= simple_format joke.content %></p> -->
	        </li>
	      <% end %>		
	    </ul>
	  <%= will_paginate %>
  </div>

	<div class="page_links clearfix">
		<%= render '/jokes/linkstojokes' %>
	</div>	
</div>