<div class="clearfix">
  <fieldset class="content_wrapper round">
	<div class="content_list align_center clearfix">
	  <%= form_for(@joke) do |f| %>
	    <% if @joke.errors.any? %>
	      <div id="error_explanation">
	        <h2><%= pluralize(@joke.errors.count, "error") %> 
	          prohibited this joke from being saved:
	        </h2>
	        <p>There were problems with the following fields:</p>
	        <ul>
	          <% @joke.errors.full_messages.each do |msg| %>
	            <li><%= msg %></li>
	          <% end %>
	        </ul>
	      </div>
	    <% end %>
	    <h3 class="title">Enter New Joke</h3>
	    <div class="field">
	      <%= f.label :name, "Joke Name:" %>
	      <%= f.text_field :name, :class=>"input", :autofocus=>true %>
	    </div>
	    <div class="field", id="joke_details">
	      <%= f.label :content, "Joke details:" %>
	      <%= f.text_area :content, :class=>"input textarea" %>
	    </div>
	    <div class="actions">
	      <%= f.submit "Submit", :class=>"button" %>
	      <p class="button cancel_button">
		    <a href="javascript:history.back()">Cancel</a>
		  </p>
	    </div>
	  <% end %>	  
    </div>

    <div class="joke_links" class="clearfix align_center">
      <p class="view_my_jokes clearfix">
        <%= image_tag("arrow_right.png", :alt => "arrow image", :height=>"20px") %>
        <%= link_to 'View All Jokes', '#' %>
      </p>
      <p class="view_my_jokes clearfix">
        <%= image_tag("arrow_right.png", :alt => "arrow image", :height=>"20px") %>
        <%= link_to 'View, Edit My Jokes', '#' %>
      </p>
    <div>
  </fieldset>
</div>