<% provide :title, "Joke" %>

<div class="content_container clearfix">
	<h2 class="page_title"><%= @joke.name %></h2>
	<div class="page_main page_main_list margin_top_n20 clearfit">
		<div class="margin_left_30">	
	    <p class="small_font_2 center font_grey">By <%= @joke.author %> on 
	       <%= @joke.created_at.strftime("%m/%d/%Y") %>
	    </p>		
		  <% if admin? %>
			  <%= form_tag review_joke_path, :method => :put do %>
				  <div class="hidden"><%= check_box_tag "joke_id[]", @joke.id, :checked => true %></div>
				  <div class="margin_top_n30"><%= simple_format @joke.content %></div>
			    <% if @joke.status == "reviewing" %>
				  	<div class="joke_bottons">
						  <%= submit_tag "Approve", :class => "margin_right_20" %>
						  <%= submit_tag "Unapprove", :class => "margin_right_20" %>
						  <a href="javascript:history.back()">Cancel</a>
					  </div>
				  <% end%>
		    <% end %>
		  <% else %>
		    <div class="joke_space width_600 margin_bottom_40"><%= simple_format @joke.content %></div>
		  <% end %>
		</div>
  </div>

	<div class="page_links clearfix">
		<%= render '/jokes/linkstojokes' %>
	</div>	
</div>