<% if current_user %>
  <ul class="nav_bar clearfix round_top">
	  <div class="clearfix nav_bar_container">
	    <li class="home_link"><%= link_to "Home", index_url %></li>
	    <li class="jokes_link"><%= link_to "Jokes", jokes_url %></li>
	    <li class="challenges_link"><%= link_to "Challenges", challenges_url %></li>
	    <li class="fun_facts_link"><%= link_to "Fun Facts", fun_facts_url %></li>
	    <li class="games_link"><%= link_to "Games", games_url %></li>
	    <li class="mansters_link"><%= link_to "Manster Cards", manstercards_url %></li>
	    <li class="my_links"><%= link_to "My Links", links_url %></li>
   </div>
  </ul>
<% end %>