<!DOCTYPE html>
<html>
	<head>
		<title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/stylesheets' %>
	</head>
	<body id="<%= yield(:title) %>">
		<div class="top">
			<%= render 'layouts/header' %>
		</div>
		<div id="page" class="frame round">
			<div id="menu" class="row">
        <%= render 'layouts/top_nav' %>
			</div>
			<div id="content" class="row expand">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
	    </div>
	  </div>
    <%= render 'layouts/footer' %>
    <%= javascript_include_tag "application" %>
	</body>
</html>
